amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
cffi==1.1.2
characteristic==14.3.0
cryptography==1.0
cssselect==0.9.1
decorator==4.0.2
Django==1.8.4
django-celery==3.1.16
django-crispy-forms==1.4.0
django-dynamic-scraper==0.7.3
django-reversion==1.7
django-xadmin==0.5.0
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
jsonpath-rw==1.4.0
kombu==3.0.26
lxml==3.4.4
MySQL-python==1.2.5
Pillow==2.9.0
ply==3.6
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pyOpenSSL==0.15.1
pytz==2015.4
queuelib==1.2.2
Scrapy==0.24.0
scrapyd==1.1.0
scrapyjs==0.1.1
service-identity==14.0.0
six==1.9.0
Twisted==15.3.0
w3lib==1.12.0
xlwt==1.0.0
zope.interface==4.1.2
