.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#select_date {
    font-size: 13px;
    width: 100px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}

.navbar-brand {
    font-size: 28px;
}

.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "";
}
.bs-example {
    padding-top: 15px;
}

a:focus {
   outline:none;
    -moz-outline:none;
}

.mini-box {
    min-height: 105px;
    padding: 15px;
}

.panel {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
    border: 1px solid #ddd;
}

.mini-box .box-icon {
    display: block;
    float: left;
    margin: 0px 10px 10px 0px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
}

.bg-success {
    background-color: rgb(35, 174, 137);
    color: rgb(255, 255, 255);
}

.bg-info {
    background-color: rgb(46, 193, 204);
    color: rgb(255, 255, 255);
}

.bg-warning {
    background-color: rgb(255, 182, 28);
    color: rgb(255, 255, 255);
}

.bg-danger {
    background-color: rgb(233, 75, 59);
    color: rgb(255, 255, 255);
}

.size-h2 {
    font-size: 30px;
}

.mini-box .box-info p {
    margin: 0px;
}