{% extends 'base.html' %}

{% load filters %}

{% block content %}
    <div class="bs-docs-header">
        <div class="container">
            <p class="text-center">实时关注利率变化，填写您的邮箱</p>
            <br/>
            <p class="text-center">
                <input id="input-email" type="text" name="email" placeholder="email@example.com">
                <button id="btn-submit" class="btn btn-default" type="submit">订阅</button>
            </p>
        </div>
    </div>

    <h4 class="text-center"><small>概览</small></h4>
    <hr style="width: 70%;">
    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-4 col-lg-offset-3 col-xs-offset-2 col-sm-offset-2">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa-fw fa fa-globe"></i>
                </span>
                <div class="box-info">
                    <p class="text-muted">网贷平台</p>
                    <p class="size-h2">{{ website_cnt }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-4">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-chain"></i>
                </span>
                <div class="box-info">
                    <p class="text-muted"><span data-i18n="Profit">采集标的</span></p>
                    <p class="size-h2">{{ loan_cnt }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr style="width: 70%;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="margin-top-none">新标<span class="label label-success pull-right">本周</span></h5>

                    <h1 class="text-center">{{ this_week_loan_cnt }}</h1>

                    <p class="small text-muted text-center">数量</p>
                </div>
                <div class="panel-footer">
                    上周
                    <span class="text-success pull-right">
                        {{ last_week_loan_cnt }}
                        {% if this_week_loan_cnt > last_week_loan_cnt %}
                            <i class="fa fa-fw fa-level-up"></i>
                        {% else %}
                            <i class="fa fa-fw fa-level-down"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="margin-top-none">利率<span class="label label-info pull-right">本周</span></h5>

                    <h1 class="text-center">{{ this_week_loan_rate|floatformat:2 }}%</h1>

                    <p class="small text-muted text-center">平均</p>
                </div>
                <div class="panel-footer">
                    上周
                    <span class="text-info pull-right">
                        {{ last_week_loan_rate|floatformat:2 }}%
                        {% if this_week_loan_rate > last_week_loan_rate %}
                            <i class="fa fa-fw fa-level-up"></i>
                        {% else %}
                            <i class="fa fa-fw fa-level-down"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="margin-top-none">新标<span class="label label-danger pull-right">本周</span></h5>

                    <h1 class="text-center">
                        <i class="fa fa-cny"></i>
                        {{ this_week_loan_amount|floatformat:0|amount_split }}
                    </h1>

                    <p class="small text-muted text-center">总金额</p>
                </div>
                <div class="panel-footer">
                    上周
                    <span class="text-danger pull-right">
                        <i class="fa fa-cny"></i>
                        {{ last_week_loan_amount|floatformat:0|amount_split }}
                        {% if this_week_loan_amount > last_week_loan_amount %}
                            <i class="fa fa-fw fa-level-up"></i>
                        {% else %}
                            <i class="fa fa-fw fa-level-down"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btn-submit').click(function() {
                var email = $('#input-email').val();
                if(email == '') {
                    alert('邮箱不能为空');
                } else {
                    $.post('/subscribe/', {
                        email: email
                    },function(data) {
                        alert(data.info);
                    });
                }
            });
        });
    </script>
{% endblock %}